/**Customary styling to all pages start**/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 100%;
}

body {
  font-size: 1rem;
  position: relative;
}

a{
  text-decoration: none !important;
  color: #000;
}
/**Customary styling to all pages ends**/


/**Body starts**/

/****Header starts****/
header{
    width:100%;
    height: 500px;
    background-image: url(../images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 2rem 5% 1.5rem 5%;
}

header nav{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav .navlogo .logo{
    color: #fff;
    font-family: 'Gabarito' , sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

nav .navright{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .navright .nav-textlinks{
    display:flex;
    list-style-type:none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav .navright .nav-textlinks li.nav-textlink{
    color: #fff;
    margin-right: 3rem;
    font-family: 'Gabarito' , sans-serif;
    font-size:1;
    font-weight: 600;
}

nav .navright .nav-btn{
    height: 50px;
    width:120px;
    background-color: #fff;
    padding: 0.9rem 1rem;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

nav .navright .nav-btn .nav-btn-text{
    color: #000;
    font-family: 'Fraunces' , serif;
    font-size: 0.9rem;
}

nav .navright a.fa-navicon{
    color: #fff;
    font-size: 1.4rem;
    display: none;
}


/***** Hidden Navdropdown starts *****/
.nav-dropdown{
    position: fixed;
    top:0;
    width:100vw;
    height: 0;
    background-color: #fff;
    z-index: 2;
    padding: 0;
    overflow:hidden;
    transition: 400ms all cubic-bezier(0.23, 1, 0.32, 1);
}

.nav-dropdown .inner-nav-dropdown{
    width:100%;
    position: relative;
    margin: 2rem 10% 0 10%;
}

.navdrop-header{
    position: relative;
    max-width:80%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navdrop-header .logo{
    color: hsla(211, 28%, 19%, 0.667);
    font-family: 'Gabarito' , sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}

.navdrop-header a.fa-times{
    display: block;
    color: hsla(211, 28%, 19%, 0.667);
    font-size: 1.3rem;
    margin-left: auto;
}

.navdrop-links{
    list-style-type: none;
    width:100%;
    display: flex;
    flex-direction: column;
    margin-top:30px;
}

.navdrop-link{
    color:hsl(212, 27%, 19%);
    font-family: 'Barlow', serif;
    font-size:1.2rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
}
/***** Hidden Navdropdown ends *****/

/*
nav .navright a.fa-navicon:checked + .nav-dropdown{
    height: 100vh !important;
}

.navdrop-header a.fa-times:checked + .nav-dropdown{
    height: 0 !important;
}*/

/****Showcase starts*****/
header .showcase{
    width:100%;
    position: relative;
}

header .showcase h1{
    position: relative;
    color: #fff;
    font-family: 'Fraunces' , serif;
    font-size: 2rem;
    font-weight: 800;
    margin-top: 60px;
    text-align: center;
    word-spacing: 1rem;
    letter-spacing: 0.3rem;
}

header .showcase .arrow{
    width: 100%;
    display: flex;
    justify-content: center;
}

header .showcase .arrow img{
    width: 70px;
    height: 100px;
    margin: 50px auto 0 auto;
}
/****Showcase ends*****/
/****Header ends****/


/**** Our Information starts ****/
.our-info{
    width: 100%;
}

.our-info .card{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.our-info .card .card-texts{
    position: relative;
    width: 50%;
}

.card-texts h2{
    color: #000;
    font-family: 'Fraunces' , serif;
    font-size: 2.5rem;
    font-weight: 800;
}

.card-texts p{
    color: hsl(167, 40%, 24%);
    margin-top: 30px;
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
}

.card-texts .learn-more{
    width: max-content;
    color: #000;
    font-family: 'Fraunces', serif;
    font-size: 1rem;
    font-weight: 700;
    /*border-bottom: 3px solid hsl(51, 100%, 49%);*/
    margin-top: 30px;
    padding: 0 5px;
    position: relative;
}

.card-texts .learn-more::after{
    content: '';
    position: absolute;
    display: inline-block;
    bottom:0;
    left:0;
    width:100%;
    height:6px;
    border-radius: 3px;
    z-index: -1;
}

.card-1 .card-texts .learn-more::after{
    background-color: hsla(51, 100%, 49%, 0.842);
}

.card-2 .card-texts .learn-more::after{
    background-color: hsla(7, 99%, 70%, 0.829);
}

.our-info .card .card-image{
    width:50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.our-info .card-1 .card-texts{
    padding: 100px 80px 130px 130px;
}

.our-info .card-2 .card-texts{
    padding: 100px 130px 130px 80px;
}

.our-info .card-1 .card-image{
    background-image: url(../images/desktop/image-transform.jpg);
}

.our-info .card-2 .card-image{
    background-image: url(../images/desktop/image-stand-out.jpg);
}

.our-info .card-items{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-items .card-con{
    width: 50%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    padding-bottom: 70px;
}

.card-items .card-con .card-con-texts{
    position: relative;
    width: 50%;
}

.card-con-texts h2{
    font-family: 'Fraunces' ,serif;
    font-size: 1.8rem;
    font-weight: 900;
}

.card-con-texts p{
    font-family: 'Barlow' , sans-serif;
    font-size: 0.95rem;
    font-weight: 600;
    margin-top: 20px;
    line-height: 1.5;
}

.card-items .card-con-1{
    background-image: url(../images/desktop/image-graphic-design.jpg);
}

.card-items .card-con-2{
    background-image: url(../images/desktop/image-photography.jpg);
}

.card-con-1 .card-con-texts h2, .card-con-1 .card-con-texts p{
    color: hsl(167, 40%, 24%);
}

.card-con-2 .card-con-texts h2, .card-con-2 .card-con-texts p{  
    color: hsl(198, 62%, 26%);
}


/**** Our Information ends ****/


/**** Client Testimonials starts ****/
.testimonials{
    width:100%;
    padding: 6rem 3rem 8rem 3rem;
}

.testimonials h2{
    text-align: center;
    color: hsl(210, 4%, 67%);
    font-family: 'Fraunces', serif;
    font-size: 1.5rem;
    font-weight: 800;
    word-spacing: 1.2rem;
    letter-spacing: 0.4rem;
}

.testimonials .testimonial-cards{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.testimonial-cards .testimonial-card{
    width: 32%;
    padding: 0 2rem;
}

.testimonial-card img{
    display: block;
    height: 80px;
    width:80px;
    border-radius: 50%;
    margin: 0 auto;
}

.testimonial-card .comment{
    color: hsl(213, 9%, 39%);
    font-family: 'Barlow' , sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    margin-top: 40px;
}

.testimonial-card .name{
    color: #000;
    font-family: 'Fraunces', serif;
    font-weight: 800;
    font-size: 1rem;
    text-align: center;
    margin-top: 60px;
}

.testimonial-card .position{
    color:hsl(210, 4%, 67%);
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 10px;
}

/**** Client Testimonials ends ****/


/**** Gallery starts ****/
.gallery{
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery img{
    display: block;
    width:25%;
    height: auto;
}
/**** Gallery ends ****/


/**** Footer starts ****/
footer{
    width: 100%;
    padding: 5rem 3rem;
    background-color:  rgba(144,212,197,1);
}

footer .footer-logo{
    color:hsla(211, 28%, 19%, 0.667);
    font-size:2rem;
    font-weight: 900;
    font-family: 'Gabarito' , sans-serif;
    text-align: center;
}

footer .footer-links{
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:50px;
    list-style-type: none;
    margin: 30px auto 0 auto;
}

.footer-link{
    color: hsl(168, 34%, 41%);
    font-family: 'Barlow', serif;
    font-size: 1rem;
    font-weight: 800;
}

footer .footer-icons{
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:30px;
    margin: 80px auto 0 auto;
}

.footer-icons a.fa{
    color: hsla(211, 28%, 19%, 0.667);
    font-size: 1.2rem;
}

/**** Footer ends ****/


/**Body ends**/


/******** Media query starts *******/
@media (max-width:870px) {
    .our-info .card-1 .card-texts{
        padding: 70px 30px 70px 50px;
    }
    
    .our-info .card-2 .card-texts{
        padding: 70px 50px 70px 30px;
    } 

    .card-items .card-con .card-con-texts{
        position: relative;
        width: 80%;
    }

    .testimonials{
        width:100%;
        padding: 6rem 0 8rem 0; 
    }

    .testimonial-cards .testimonial-card{
        width: 32%;
        padding: 0 1rem;
    }

    .gallery img{
        width: 50%;
    }
}


@media (max-width: 680px) {
    header .navright .nav-textlinks , header .navright .nav-btn{
        display: none;
    } 

    header .navright a.fa-navicon{
        display: block;
    }
}

@media (max-width:570px) {
    /****Showcase starts*****/
    header .showcase{
        width:100%;
        position: relative;
    }

    header .showcase h1{
        position: relative;
        color: #fff;
        font-family: 'Fraunces' , serif;
        font-size: 2rem;
        font-weight: 800;
        margin-top: 60px;
        text-align: center;
        word-spacing: 1rem;
        letter-spacing: 0.3rem;
    }

    header .showcase .arrow{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    header .showcase .arrow img{
        width: 70px;
        height: 100px;
        margin: 50px auto 0 auto;
    }
    /****Showcase ends*****/
    /****Header ends****/


    /**** Our Information starts ****/
    .our-info{
        width: 100%;
    }

    .our-info .card{
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .our-info .card-1{
        flex-direction: column-reverse;
    }

    .our-info .card-2{
        flex-direction: column;
    }

    .our-info .card .card-texts{
        position: relative;
        width: 100%;
    }

    .card-texts h2{
        color: #000;
        font-family: 'Fraunces' , serif;
        font-size: 2.5rem;
        font-weight: 800;
        text-align: center;
    }

    .card-texts p{
        color: hsl(167, 40%, 24%);
        margin-top: 30px;
        font-family: 'Barlow', sans-serif;
        font-size: 1.1rem;
        text-align: center;
    }

    .card-texts .learn-more{
        width: max-content;
        color: #000;
        font-family: 'Fraunces', serif;
        font-size: 1.2rem;
        font-weight: 700;
        /*border-bottom: 3px solid hsl(51, 100%, 49%);*/
        padding: 0 5px;
        position: relative;
        margin: 30px auto 0 auto;
    }

    .card-texts .learn-more::after{
        content: '';
        position: absolute;
        display: inline-block;
        bottom:0;
        left:0;
        width:100%;
        height:6px;
        border-radius: 3px;
        background-color: hsl(51, 100%, 49%);
        z-index: -1;
    }

    .our-info .card .card-image{
        width:100%;
        height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .our-info .card-1 .card-texts{
        padding: 70px 10%;
    }
    
    .our-info .card-2 .card-texts{
        padding: 70px 10%;
    }


    .our-info .card-items{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card-items .card-con{
        width: 100%;
        height: 500px;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        text-align: center;
        padding-bottom: 70px;
    }

    .card-items .card-con .card-con-texts{
        position: relative;
        width: 100%;
        padding: 0 2rem;
    }

    .card-con-texts h2{
        font-family: 'Fraunces' ,serif;
        font-size: 2rem;
        font-weight: 900;
        text-align: center;
    }

    .card-con-texts p{
        font-family: 'Barlow' , sans-serif;
        font-size: 1.05rem;
        font-weight: 600;
        margin-top: 20px;
        line-height: 1.5;
        text-align: center;
    }

    .card-con-1 .card-con-texts h2, .card-con-1 .card-con-texts p{
        color: hsl(167, 40%, 24%);
    }

    .card-con-2 .card-con-texts h2, .card-con-2 .card-con-texts p{  
        color: hsl(198, 62%, 26%);
    }
    /**** Our Information ends ****/

    /**** Client Testimonials starts ****/
    .testimonials{
        width:100%;
        padding: 6rem 0 8rem 0; 
    }

    .testimonials h2{
        text-align: center;
        color: hsl(210, 4%, 67%);
        font-family: 'Fraunces', serif;
        font-size: 1.5rem;
        font-weight: 800;
        word-spacing: 1.2rem;
        letter-spacing: 0.4rem;
    }

    .testimonials .testimonial-cards{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    .testimonial-cards .testimonial-card{
        width: 100%;
        padding: 0 10%;
        margin-top: 60px;
    }

    .testimonial-cards .testimonial-card:first-of-type{
        margin-top: 0;
    }


    .testimonial-card img{
        display: block;
        height: 100px;
        width:100px;
        border-radius: 50%;
        margin: 0 auto;
    }

    .testimonial-card .comment{
        color: hsl(213, 9%, 39%);
        font-family: 'Barlow' , sans-serif;
        font-size: 1.3rem;
        font-weight: 600;
        text-align: center;
        line-height: 1.4;
        margin-top: 40px;
    }

    .testimonial-card .name{
        color: #000;
        font-family: 'Fraunces', serif;
        font-weight: 800;
        font-size: 1.4rem;
        text-align: center;
        margin-top: 30px;
    }

    .testimonial-card .position{
        color:hsl(210, 4%, 67%);
        font-family: 'Barlow', sans-serif;
        font-weight: 700;
        font-size: 1.1rem;
        text-align: center;
        margin-top: 10px;
    }

/**** Client Testimonials ends ****/
}

/**** Gallery starts ****/
    .gallery{
        width:100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .gallery img{
        width:50%;
        height: auto;
    }
/**** Gallery ends ****/


/**** Footer starts ****/
    footer{
        width: 100%;
        padding: 3rem 3rem 5rem 3rem;
        background-color:  rgba(144,212,197,1);
    }

    footer .footer-logo{
        color:hsla(211, 28%, 19%, 0.667);
        font-size:2.5rem;
        font-weight: 900;
        font-family: 'Gabarito' , sans-serif;
        text-align: center;
    }

    footer .footer-links{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap:30px;
        list-style-type: none;
        margin: 30px auto 0 auto;
    }

    .footer-link{
        color: hsl(168, 34%, 41%);
        font-family: 'Barlow', serif;
        font-size: 1rem;
        font-weight: 800;
    }

    footer .footer-icons{
        width: max-content;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap:30px;
        margin: 80px auto 0 auto;
    }

    .footer-icons a.fa{
        color: hsla(211, 28%, 19%, 0.667);
        font-size: 1.3rem;
    }

/**** Footer ends ****/

/******** Media query ends *******/
